<div align="center">
<table  class="chcTable">
  <tr>
    <td colspan="2" class="chcHeaderRow">
      Besucher
    </td>
  </tr>
  <tr>
    <td class="chcLeftRow">{L_TOTAL_VISITORS}</td>
    <td class="chcRightRow">{V_TOTAL_VISITORS}</td>
  </tr>
  <tr>
    <td class="chcLeftRowAlt">{L_VISITORS_TODAY}</td>
    <td class="chcRightRowAlt">{V_VISITORS_TODAY}</td>
  </tr>
  <tr>
    <td class="chcLeftRow">{L_PAGE_VIEWS_THIS_PAGE}</td>
    <td class="chcRightRow">{V_PAGE_VIEWS_THIS_PAGE}</td>
  </tr>
  </table>
</div>
